@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Montserrat:wght@500&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-color: #3b3b3b;
    width: 100%;
}
.container{
    width: 100%;
    height: auto; 
}
.one-select{
    background-image: url('../img/jj.jpg');
    background-position: center;
    background-size: cover;
    /* height: 90vh; */
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 150px;
}
 .selectPage{ 
    width: 60%;
    height: auto;
    background-color: rgba(94, 93, 93, 0.165);
    font-size: 20px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 20px;
    margin-top: 50px;
}
img{
    width: 400px;
}
.two-select{
    background-image: url('../img/pustota.JPEG');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.ved{
    width: 55%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    margin: 100px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding: 10px;
    height: auto;
}
.ved-text{
   width: 90%;
   font-weight: 600;
   padding: 20px;
   padding-left: 80px ;
   font-family: 'Montserrat', sans-serif;
   
}
.links{
    background-color: rgb(26, 26, 26);
    height: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    height: auto;
    width: 100%;
    gap: 50px;
    margin-top:150px;
    padding: 0 0 50px 0;
}
.card{
    flex: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(40, 40, 40, 0.745);
    border-radius: 100px;
    gap: 40px;
}
.card_name{
    font-size: 60px;
    color: rgb(203, 203, 203);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    background: linear-gradient(180deg, #3b3b3b , #ffffff );
    -webkit-background-clip: text;
    color: transparent;
    
}
.card_txt{
    width: 70%;
    font-size: 40px ;
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
button{
    background-color: red;
    border-radius: 100px;
    padding: 10px;
    height: auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* margin-top: auto; */
}
 .yamki_link{
    margin-top: auto;
 }
 @media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }
    .main{
        padding: 20px;
        height: 20vh;
    }
    .selectPage{
        font-size: 20px;
        margin-top: 0px;
        width: 150px;
    }
    .one-select{
        background-image: url('../img/jj576.jpg');
    }
    img{
        width: 100px;
    }
    .ved{
        border-radius: 10px;
        font-size: 20px;
        margin: 0px;
        width:90%;
        margin-left: 10px;
        padding-top: 20px;

    }
    .ved-text{
        padding: 0px;
        padding-left: 10px;
        align-items: center;
    }
    .two-select{
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    .card_txt{
        font-size: 30px;
    }
    .card{
        padding: 10px;
    }
    .card-wrapper{
        width: 90%;
    }
    .card_name{
        font-size: 40px;
        margin-top: 40px;
    }
}
@media screen and (min-width:577px) and (max-width:768px) {
    .container{
        max-width: 100%;
    }
    .selectPage{
        font-size: 34px;
        margin: 20px;
        margin-top: 0;
        padding: 0;
        width: 250px;
        padding-left: 30px;
    }
    img{
        width: 200px;
    }
    .one-select{
        /* background-image: url('../img/jj768.jpg'); */
    }
    .two-select{
        justify-content: center;
    }
    .ved{
    width: 80%;
    margin: 20px;
    font-size: 30px;
    /* padding: 0px; */
    }
    .ved-text{
    padding: 30px
    }
    .main{
        padding: 30px;
    }
    .card_txt{
        font-size: 30px;
        margin-left: -20px;
    }
}
@media (min-width: 769px) and (max-width: 1090px ) {
    .selectPage{
        font-size: 40px;
        margin: 10px;
        padding-left: 0px;
        padding-top: 0px;
        margin-right: 0px;
        width: 300px;
        padding-left: 30px;
    }
    .main{
        padding: 30px;
    }
    .ved{
        width: 80%;
        margin: 20px;
        font-size: 30px;
        /* padding: 0px; */
        }
        .ved-text{
        padding: 30px;
        }
        .card_txt{
            margin-left: -30px;
        }
  }
  @media (min-width: 1025px) and (max-width: 1920px ){
    .selectPage{
        width: 90%;
        font-size: 60px
    }
    .nnimg{
        width: 90vh;
    }
  }