body{
    margin: 0;
    padding: 0;
    height: 1600px;
    width: 1500px;
}
#map{
    height: 700px;
    width: 100%;
    position: absolute;
}
.container{
    height: 700px;
    width: 100%;
}

.yamki-txt{
    height: 388px;
    width: 438px;
    background-color: rgba(248, 248, 248,0.8);
    z-index: 1;
    position: absolute;
    margin: 150px;
    border-radius: 15px;
}
#h{
    font-size: 48px;
    padding: 10px;
    margin-left: 10px;
    font-weight: 500;
}
#p{
    font-size: 22px;
    width: 360px;
    margin-left: 20px;
    color: rgb(50, 50, 50);
    font-weight: 500;
}
header{
    width: 200px;
    height: 41px;
    background-color: rgb(247, 247, 247);
    position: absolute;
    z-index: 2;
    margin-left: 50%;
    margin-top: 25px;
    border-radius: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.tabs__item:not(._active) {
    display: none;
}
.tabs__button{
    padding-left: 60px;
    font-size: 38px;
    color: rgb(0, 0, 0);
    list-style: none;
    display: flex;
    padding-top: 10px;
    cursor: pointer;
   display: inline;
}
.text{
    font-size: 35px;
    text-indent: 20px;
    padding-top: 30px;
    padding-left: 50px;
}
.his{
    cursor: pointer;
}
.date{
    cursor: pointer;
}
.photo{
    cursor: pointer;
}