@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 1600px;
    width: 1500px;
    background-color: #ffecec;
}
#map{
    height: 700px;
    width: 100%;
    position: absolute;
}
.container{
    height: 700px;
    width: 100%;

}

.yamki-txt{
    height: 388px;
    width: 438px;
    background-color: rgba(248, 248, 248,0.8);
    z-index: 1;
    position: absolute;
    margin: 150px;
    border-radius: 15px;
}
#h{
    font-size: 48px;
    padding: 10px;
    margin-left: 10px;
    font-weight: 500;
}
#p{
    font-size: 22px;
    width: 360px;
    margin-left: 20px;
    color: rgb(50, 50, 50);
    font-weight: 500;
}
header{
    width: 200px;
    height: 41px;
    background-color: rgb(247, 247, 247);
    position: absolute;
    z-index: 2;
    margin-left: 50%;
    margin-top: 25px;
    border-radius: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.tabs__item:not(._active) {
    display: none;
}
.buttonn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: 20%;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: relative;

}
.buttonn a{
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px; 
}
.buttonn a:hover{
    background-color: #f5f5f5;
}
.tabs__button{
    /* padding-left: 60px; */
    font-size: 33px;
    color: rgb(0, 0, 0);
    list-style: none;
    display: flex;
    padding-top: 10px;
    cursor: pointer;
   display: inline;
}
.txt{
    font-size: 31px;
    text-indent: 20px;
    padding-top: 30px;
    padding-left: 50px;
}
#history{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff6f6;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    line-height: 1.5;
    color: #313131;
    margin-top: 50px;
    margin-left: 30px;
    font-family: "Lora", serif;
    font-style: normal;
}
#text-one{ 
    margin-top: 20px;
}
#text-two{
    margin-top: 20px; 
}
#text-three{
    margin-top: 20px; 
}
.year1{
}
.year2{
}
.year3{

}
.three_dates{
    display: grid;
    grid
}